<div data-routecomponent="Home" class="home-tab">
  <p>
    Hello! I'm Jonatan and this is sort of a playground of mine, dabbling with
    data visualisation and algorithms which I've found fascinating and fun
    recently.
    <br />
    <br />
    In it's current state it works best on desktop, and there are lots still
    under development so don't expect too much.
    <br />
    <br />
    You can find my other development stuff
    <a href="https://jonatanpetersson.com/" target="_blank">here</a>.
  </p>
</div>
