<form
  class="particle-animations-settings settings-invisible"
  action="submit"
  data-settings="ParticleAnimations"
>
  <div>
    <p>Hover / touch the text to view the effect</p>
  </div>
  <div>
    <label for="radius">Particle radius (px)<br /></label>
    <input type="radius" name="radius" id="radius" />
  </div>
  <div>
    <label for="colour">Particle colour<br />(hex or name)<br /></label>
    <input type="colour" name="colour" id="colour" />
  </div>
  <div>
    <label for="text">Display text<br /></label>
    <input type="text" name="text" id="text" />
  </div>
  <div>
    <input
      class="particle-animations-settings-submit"
      type="submit"
      value="Save settings and run"
    />
  </div>
</form>
