<form
  class="game-of-life-settings settings-invisible"
  action="submit"
  data-settings="GameOfLife"
>
  <div>
    <label for="particle-colour">Particle colour</label>
    <input type="text" name="particle-colour" id="particle-colour" />
  </div>
  <div>
    <label for="grid-size">Grid size<br />(5 sets a 5x5 grid)</label>
    <input type="number" name="grid-size" id="grid-size" />
  </div>
  <div>
    <label for="tick-speed">Tick speed (ms)</label>
    <input type="number" name="tick-speed" id="tick-speed" step="5" min="0" />
  </div>
  <div>
    <input
      class="game-of-life-settings-submit"
      type="submit"
      value="Save settings and run"
    />
  </div>
</form>
