.game-of-life-canvas {
  width: fit-content;
  height: fit-content;
}

.settings-title {
  margin-bottom: 0.8rem;
}
.gol-form {
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  .gol-buttons {
    display: flex;
    flex-direction: row;
  }
  .gol-group {
    display: flex;
    flex-direction: column;
    label {
      font-size: 1.4rem;
    }
  }
}
