<nav class="main-header-nav">
  <ul>
    <li>
      <a
        class="main-header-link game-of-life-link"
        data-route="game-of-life"
        href="/game-of-life"
        >Game of Life</a
      >
    </li>
    <li>
      <a
        class="main-header-link text-particle-link"
        data-route="text-particle"
        href="/text-particle"
        >Text Particle Animator</a
      >
    </li>
    <li>
      <a
        class="main-header-link maze-path-link"
        data-route="maze-path"
        href="/maze-path"
        >Maze Generator & Path Finder</a
      >
    </li>
  </ul>
</nav>
