* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

#root {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

h3 {
  margin-top: 20px;
}

.settings {
  width: 250px;
}

.form {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 5px;
}

button,
.submit-button {
  font-size: 16px;
  font-weight: 700;
}

label {
  font-size: 14px;
  font-weight: 700;
}

.toggle-button,
.reset-button {
  margin-top: 10px;
  width: 100%;
}

.config-select {
  width: 100%;
}

.config-select-label {
  margin-top: 10px;
}

.header {
  margin-bottom: 10px;
}

.canvas {
  border: 1px gray solid;
  box-sizing: unset;
}
